.title{
    position: relative;
    padding: 0.2rem;
    text-align: center;
    font-size: 0.24rem;
    color: #f85f77;
    border-bottom: 0.02rem solid #ddd;
    .go-back{
        position: absolute;
        z-index: 99;
        left: 0.1rem;
        top: 0.15rem;
        width: 0.4rem;
        height: 0.4rem;
        background: url(../../images/icon-back.png) no-repeat;
        background-size: contain;
    }
}